.english-font {
    font-family: 'Tempus Sans ITC';
    font-size: small;
}

.enochian-font {
    font-family: 'Enochian';
    font-size: x-large;
}

.enochian-font-normal {
    font-family: 'Enochian';
}