.enochian-blackcross-horizontal-parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
.enochian-blackcross-horizontal-child {
    grid-column: span 1;
    background-color: #16161d;
    border: solid;
    border-width: 1px;
}